<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Home Page</title>
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Vizualizador de Medições</h1>
        <a href="/medicoes_dashboard" class="medicoes">Ir para Lista de Medições</a>
        <a href="/dashboard_powerbi" class="dashboard-btn">Visualizar Power BI</a>
        <a href="/logout" class="logout-btn">Sair</a>
    </div>
    <footer>
        <p> Desenvolvido por <a href="https://neogier.com.br/" target="_blank">Neogier</a></p>
    </footer>
</body>
</html>
