<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medições</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medicoes_dashboard.css') }}">
</head>
<body>
    <h1>Dashboard de Medições</h1>
    <a href="/">Voltar para Home</a>
    <table border="1">
        <thead>
            <tr>
                <th>Agente</th>
                <th>Ponto Grupo</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Ativa (kWh)</th>
            </tr>
        </thead>
        <tbody>
            {% for medicao in medicoes %}
            <tr>
                <td>{{ medicao.agente }}</td>
                <td>{{ medicao.ponto_grupo }}</td>
                <td>{{ medicao.data }}</td>
                <td>{{ medicao.hora }}</td>
                <td>{{ medicao.ativa_c }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginação -->
    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('medicoes_dashboard', page=1) }}">Primeira</a>
            <a href="{{ url_for('medicoes_dashboard', page=page-1) }}">Anterior</a>
        {% endif %}

        <span>Página {{ page }} de {{ total_pages }}</span>

        {% if page < total_pages %}
            <a href="{{ url_for('medicoes_dashboard', page=page+1) }}">Próxima</a>
            <a href="{{ url_for('medicoes_dashboard', page=total_pages) }}">Última</a>
        {% endif %}
    </div>
</body>
</html>